.container {
    width: 100%;
    padding-right: 32px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
} 

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    .header__logo{
        margin-right: 0;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1320px;
    }

    .header__logo{
        margin-right: 226px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1410px;
    }

    .header__logo{
        margin-right: 271px;
    }
}